html {
    margin: 0;
  }

body {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

.black {
    color:#000000;
}

.grey {
    color:#999999;
}

.light-blue {
    color: #579DCB;
}

.bold {
    font-weight: 700;
}

.black-bg {
    background-color: #000000;
}

.white-bg {
    background-color: #ffffff;
}

.light-grey-bg {
    background-color: #EBEBEB;
}

.font-bold {
    font-weight: 700;
}

.font-black {
    font-weight: 900;
}

/* ---------------------------------------------- */
/* VENUE PAGE */

.center-absolute {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url(./assets/OT-hero-img.png) no-repeat center center;
    background-size: cover;
}

.height-sm-100 {
    height: 100vh;
}

.height-sm-80 {
    height: 80vh;
}

.height-sm-50 {
    height: 50vh;
}

.height-sm-30 {
    height: 30vh;
}

.height-sm-10 {
    height: 10vh;
}

.height-sm-3 {
    height: 3vh;
}

.height-sm-1 {
    height: 1vh;
}

.width-sm-30 {
    width: 30vh;
}

.mt-sm-n50 {
    margin-top: -50%;
}

.ms-n50 {
    margin-right: -50%;
}

.mt-sm-n20 {
    margin-top: -20%;
}

.mt-sm-n15 {
    margin-top: -15%;
}

.mt-sm-n8 {
    margin-top: -8%;
}

.mt-sm-n6 {
    margin-top: -6%;
}

.mt-sm-n2 {
    margin-top: -2%;
}

.reel-bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url(./assets/OT-hero-reel.png) no-repeat center center;
    background-size: cover;
}

.left-30 {
    left: 30%!important;
}

.m-sm-n5 {
    margin-left: -5%;
}

.m-sm-n2 {
    margin-left: -2%;
}

h1.title {
    font-size: 8em;
    font-weight: 900;
    line-height: 0.8;
}

h2.title {
    font-size: 6em;
    font-weight: 900;
    line-height: 0.8;
}

h1.title.stroke {
    -webkit-text-fill-color: rgba(0, 0, 0, 0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.03em;
    /* -webkit-text-stroke-color: #DC941D; */
}

h2.title.stroke {
    -webkit-text-fill-color: rgba(0, 0, 0, 0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.03em;
    /* -webkit-text-stroke-color: #DC941D; */
}

.baby-blue {
    background-color: #579DCB;
}

.z-n1 {
    z-index: -10;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.rounded-start-20px {
    border-bottom-left-radius: 20px!important;
    border-top-left-radius: 20px!important;
}

.rounded-end-20px {
    border-bottom-right-radius: 20px!important;
    border-top-right-radius: 20px!important;
}

/* ---------------------------------------------- */
/* ARTIST PAGE */

img.transportation {
    max-height: 60px;
}

.transportation .active{
    background-color: #579DCB;
    border-radius: 50rem!important
}

.transportation-info {
    display: none;
}

.active .transportation-info {
    display: block;
}

.dropdown:hover, .dropdown:focus {
    background-color: #579DCB;
    color: #ffffff;
}

.bottom-arrow {
    padding: 5px;
    border-top:  1px solid black;
    border-right:  1px solid black;
    border-left:  none;
    border-bottom:  none;
    transform: rotate(135deg);   
}

.bottom-arrow-white {
    padding: 5px;
    border-top:  1px solid rgb(255, 255, 255);
    border-right:  1px solid rgb(255, 255, 255);
    border-left:  none;
    border-bottom:  none;
    transform: rotate(135deg);  
}

button.tickets {
    height: 2rem;
    width: 2rem;
}

.closed .options {
    display: none;
}

.selected {
    background-color: #579DCB;
    padding: 10px;
    border-radius: 50%;
}

.circle-container {
    display: grid;
    place-items: center;
}

#text-rotating-hero {
    height: 20vh;
    font-size: 0.6em;
    animation: animate 10s linear infinite;
}

#text-rotating-black {
    height: 20vh;
    font-size: 0.6em;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

span {
    position: absolute;
    transform-origin: 0 10vh;
}

/* ---------------------------------------------- */

@media (max-width:575px) {

    .hero {
        height: 20vh;
        background-size: cover;
    }
    
    .ms-n8 {
        margin-left: -8%;
    }

    .mt-n50 {
        margin-top: -50%;
    }
    
    .mt-n20 {
        margin-top: -20%;
    }
    
    .mt-n15 {
        margin-top: -15%;
    }
    
    .mt-n8 {
        margin-top: -8%;
    }
    
    .mt-n6 {
        margin-top: -6%;
    }
    
    .mt-n2 {
        margin-top: -2%;
    }

    .reel-mobile {
        background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url(./assets/OT-hero-reel.png) no-repeat center center;
        background-size: cover;
    }

}